In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sps 
import matplotlib.pyplot as plt 
import seaborn as sns
import sklearn as skl
from sklearn import preprocessing 
%matplotlib inline

In [2]:
%%time
data = pd.read_csv('NY property data_FILLED.csv')

CPU times: user 10.5 s, sys: 1.38 s, total: 11.9 s
Wall time: 11.8 s

In [3]:
# S1
data["lotarea"] = data["LTFRONT"] * data["LTDEPTH"]

In [4]:
# S2
data["bldarea"] = data["BLDFRONT"] * data["BLDDEPTH"]

In [5]:
data["bldarea"].describe()

count    1.070994e+06
mean     3.948917e+03
std      9.884419e+04
min      1.000000e+00
25%      7.200000e+02
50%      1.050000e+03
75%      2.100000e+03
max      7.115198e+07
Name: bldarea, dtype: float64

In [6]:
data["bldarea"].isnull().sum()

0

In [7]:
# S3
data["bldvol"] = data["bldarea"] * data["STORIES"]

In [8]:
data["bldvol"].isnull().sum()

0

In [9]:
# r1 = V1 / S1
data["FULLVAL_r1"] = data["FULLVAL"] / data["lotarea"]

In [10]:
# r2 = V2 / S2
data["FULLVAL_r2"] = data["FULLVAL"] / data["bldarea"]

In [11]:
# r3 = V3 / S3
data["FULLVAL_r3"] = data["FULLVAL"] / data["bldvol"]

In [12]:
# r4 = V4 / S4
data["AVLAND_r4"] = data["AVLAND"] / data["lotarea"]

In [13]:
# r5 = V5 / S5
data["AVLAND_r5"] = data["AVLAND"] / data["bldarea"]

In [14]:
# r6 = V6 / S6
data["AVLAND_r6"] = data["AVLAND"] / data["bldvol"]

In [15]:
# r7 = V7 / S7
data["AVTOT_r7"] = data["AVTOT"] / data["lotarea"]

In [16]:
# r8 = V8 / S8
data["AVTOT_r8"] = data["AVTOT"] / data["bldarea"]

In [17]:
# r9 = V9 / S9
data["AVTOT_r9"] = data["AVTOT"] / data["bldvol"]

In [18]:
data.drop(['Unnamed: 0',
 'Unnamed: 0.1',
 'Unnamed: 0.1.1',
 'RECORD',
 'LOT',
 'EASEMENT',
 'OWNER',
 'EXT',
 'EXLAND',
 'EXTOT',
 'EXCD1',
 'STADDR',
 'EXMPTCL',
 'AVLAND2',
 'AVTOT2',
 'EXLAND2',
 'EXTOT2',
 'EXCD2',
 'PERIOD',
 'YEAR',
 'VALTYPE'],axis=1, inplace=True)
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,bldvol,FULLVAL_r1,FULLVAL_r2,FULLVAL_r3,AVLAND_r4,AVLAND_r5,AVLAND_r6,AVTOT_r7,AVTOT_r8,AVTOT_r9
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,4251660.0,40.917782,176.166486,5.033328,8.079350,34.784649,0.993847,18.413002,79.274919,2.264998
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,4251660.0,20219.092332,1595.376865,45.582196,1492.957746,117.801047,3.365744,9098.591549,717.919589,20.511988
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1199628.0,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,93670.0,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,5073.0,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541

# Var 37-45

In [19]:
data["r1_all"] = data["FULLVAL_r1"] / data["FULLVAL_r1"].mean()

In [20]:
data["r2_all"] = data["FULLVAL_r2"] / data["FULLVAL_r2"].mean()

In [21]:
data["r3_all"] = data["FULLVAL_r3"] / data["FULLVAL_r3"].mean()

In [22]:
data["r4_all"] = data["AVLAND_r4"] / data["AVLAND_r4"].mean()

In [23]:
data["r5_all"] = data["AVLAND_r5"] / data["AVLAND_r5"].mean()

In [24]:
data["r6_all"] = data["AVLAND_r6"] / data["AVLAND_r6"].mean()

In [25]:
data["r7_all"] = data["AVTOT_r7"] / data["AVTOT_r7"].mean()

In [26]:
data["r8_all"] = data["AVTOT_r8"] / data["AVTOT_r8"].mean()

In [27]:
data["r9_all"] = data["AVTOT_r9"] / data["AVTOT_r9"].mean()

In [28]:
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,AVTOT_r9,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,2.264998,0.115466,0.291491,0.018031,0.650247,0.818948,0.048907,0.540661,1.049730,0.073146
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,20.511988,57.056097,2.639763,0.163294,120.157017,2.773434,0.165627,267.161795,9.506437,0.662419
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,39.269424,0.738761,0.433176,0.312620,7.851231,2.296703,1.600162,3.459202,1.559975,1.268177
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,188.320700,0.253164,1.384896,1.499202,2.809888,7.668499,8.014211,1.185425,4.987352,6.081676
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,24154.346541,1.888056,88.814598,192.290339,23.938302,561.783017,1174.218807,8.840713,319.843317,780.046571

# Var1 (r1_byzip5)

In [31]:
# r1 group by zip5
data_group_zip5 = data.groupby("ZIP")["FULLVAL_r1"].mean()
data_group_zip5 = pd.DataFrame({'ZIP5':data_group_zip5.index, 'r1_mean_groupby_zip5':data_group_zip5})
data_group_zip5

            ZIP5  r1_mean_groupby_zip5
ZIP
10001.0  10001.0            584.549965
10002.0  10002.0            370.458745
10003.0  10003.0            607.263009
10004.0  10004.0            314.981754
10005.0  10005.0            108.870462
10006.0  10006.0            241.503724
10007.0  10007.0            251.383183
10009.0  10009.0            506.382087
10010.0  10010.0            348.755359
10011.0  10011.0            459.986785
10012.0  10012.0            671.035073
10013.0  10013.0            325.165698
10014.0  10014.0            908.115540
10016.0  10016.0            266.923791
10017.0  10017.0            349.572423
10018.0  10018.0            842.688751
10019.0  10019.0            183.565627
10020.0  10020.0            765.919535
10021.0  10021.0            572.168285
10022.0  10022.0            461.528444
10023.0  10023.0            207.420540
10024.0  10024.0            515.582845
10025.0  10025.0            328.020995
10026.0  10026.0            158.599974
10027.0  10027.0            361.143929
10028.0  10028.0            585.725441
10029.0  10029.0            284.695676
10030.0  10030.0            308.759885
10031.0  10031.0            283.859042
10032.0  10032.0            256.955648
...          ...                   ...
11412.0  11412.0            114.168903
11413.0  11413.0            114.291983
11414.0  11414.0            127.703863
11415.0  11415.0            174.941901
11416.0  11416.0            184.773022
11417.0  11417.0            160.880653
11418.0  11418.0            161.011515
11419.0  11419.0            175.269449
11420.0  11420.0            147.335007
11421.0  11421.0            198.388180
11422.0  11422.0            105.155587
11423.0  11423.0            129.988331
11426.0  11426.0            131.067476
11427.0  11427.0            141.845424
11428.0  11428.0            127.789613
11429.0  11429.0            112.500413
11430.0  11430.0            142.904951
11432.0  11432.0            363.873341
11433.0  11433.0            135.439886
11434.0  11434.0            119.063423
11435.0  11435.0            156.964879
11436.0  11436.0            130.061930
11691.0  11691.0            110.316985
11692.0  11692.0            198.602251
11693.0  11693.0            158.294879
11694.0  11694.0            165.003140
11695.0  11695.0            161.918025
11696.0  11696.0             30.178792
11697.0  11697.0            178.085070
33803.0  33803.0             55.423729

[196 rows x 2 columns]

In [30]:
## create r1_mean_groupby_zip5 column
data1 = data.merge(data_group_zip5, on =['ZIP'], how = 'left')
data = data1
data

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all,ZIP5,r1_mean_groupby_zip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.291491,0.018031,0.650247,0.818948,0.048907,0.540661,1.049730,0.073146,10004.0,314.981754
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,2.639763,0.163294,120.157017,2.773434,0.165627,267.161795,9.506437,0.662419,10004.0,314.981754
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.433176,0.312620,7.851231,2.296703,1.600162,3.459202,1.559975,1.268177,10004.0,314.981754
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,1.384896,1.499202,2.809888,7.668499,8.014211,1.185425,4.987352,6.081676,10004.0,314.981754
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,88.814598,192.290339,23.938302,561.783017,1174.218807,8.840713,319.843317,780.046571,10004.0,314.981754
5,1000030002,1,3,Q1,4,496.0,76.0,35.0,10600000.0,4770000.0,...,0.144383,0.008931,10.184149,0.924478,0.055209,3.715552,0.519960,0.036231,10004.0,314.981754
6,1000030003,1,3,Q1,4,180.0,370.0,1.0,8489997.0,3820499.0,...,46.209953,100.048052,4.616868,295.879708,618.437203,1.684403,166.413477,405.855790,10004.0,314.981754
7,1000030010,1,3,Z9,4,362.0,177.0,3.0,28100000.0,11070000.0,...,5.535799,3.995142,13.904885,31.030496,21.619611,5.794783,19.935780,16.206724,10004.0,314.981754
8,1000041001,1,4,R5,4,422.0,355.0,50.0,3944762.0,636093.0,...,0.053732,0.002327,0.341729,0.123282,0.005154,0.347931,0.193502,0.009438,10004.0,314.981754
9,1000041002,1,4,R5,4,422.0,355.0,50.0,5700930.0,919276.0,...,0.077653,0.003362,0.493863,0.178166,0.007448,0.502826,0.279647,0.013640,10004.0,314.981754
10,1000041003,1,4,R5,4,422.0,355.0,50.0,10600000.0,967500.0,...,0.144383,0.006252,0.519771,0.187512,0.007839,0.934927,0.519960,0.025362,10004.0,314.981754
11,1000041004,1,4,R5,4,422.0,355.0,50.0,1011928.0,163174.0,...,0.013784,0.000597,0.087662,0.031625,0.001322,0.089253,0.049638,0.002421,10004.0,314.981754
12,1000041005,1,4,R5,4,422.0,355.0,50.0,2318026.0,373783.0,...,0.031574,0.001367,0.200808,0.072443,0.003028,0.204452,0.113706,0.005546,10004.0,314.981754
13,1000041006,1,4,R5,4,422.0,355.0,50.0,2191531.0,353383.0,...,0.029851,0.001293,0.189848,0.068489,0.002863,0.193295,0.107501,0.005244,10004.0,314.981754
14,1000041007,1,4,R5,4,422.0,355.0,50.0,7730673.0,1246572.0,...,0.105300,0.004560,0.669697,0.241599,0.010100,0.681851,0.379211,0.018497,10004.0,314.981754
15,1000041008,1,4,R5,4,422.0,355.0,50.0,7524757.0,1213369.0,...,0.102495,0.004438,0.651859,0.235164,0.009831,0.663689,0.369111,0.018004,10004.0,314.981754
16,1000041009,1,4,R5,4,422.0,355.0,50.0,7524757.0,1213369.0,...,0.102495,0.004438,0.651859,0.235164,0.009831,0.663689,0.369111,0.018004,10004.0,314.981754
17,1000041010,1,4,R5,4,422.0,355.0,50.0,7524757.0,1213369.0,...,0.102495,0.004438,0.651859,0.235164,0.009831,0.663689,0.369111,0.018004,10004.0,314.981754
18,1000041011,1,4,R5,4,422.0,355.0,50.0,7524757.0,1213369.0,...,0.102495,0.004438,0.651859,0.235164,0.009831,0.663689,0.369111,0.018004,10004.0,314.981754
19,1000041012,1,4,R5,4,422.0,355.0,50.0,7524757.0,1213369.0,...,0.102495,0.004438,0.651859,0.235164,0.009831,0.663689,0.369111,0.018004,10004.0,314.981754
20,1000041013,1,4,R5,4,422.0,355.0,50.0,7524757.0,1213369.0,...,0.102495,0.004438,0.651859,0.235164,0.009831,0.663689,0.369111,0.018004,10004.0,314.981754
21,1000041014,1,4,R5,4,422.0,355.0,50.0,7524757.0,1213369.0,...,0.102495,0.004438,0.651859,0.235164,0.009831,0.663689,0.369111,0.018004,10004.0,314.981754
22,1000041015,1,4,R5,4,422.0,355.0,50.0,7521818.0,1212893.0,...,0.102455,0.004436,0.651603,0.235072,0.009827,0.663429,0.368966,0.017997,10004.0,314.981754
23,1000041016,1,4,R5,4,422.0,355.0,50.0,7424741.0,1197240.0,...,0.101133,0.004379,0.643194,0.232038,0.009700,0.654867,0.364204,0.017765,10004.0,314.981754
24,1000041017,1,4,R5,4,422.0,355.0,50.0,7424741.0,1197240.0,...,0.101133,0.004379,0.643194,0.232038,0.009700,0.654867,0.364204,0.017765,10004.0,314.981754
25,1000041018,1,4,R5,4,422.0,355.0,50.0,7665959.0,1236136.0,...,0.104419,0.004521,0.664090,0.239577,0.010015,0.676143,0.376037,0.018342,10004.0,314.981754
26,1000041019,1,4,R5,4,422.0,355.0,50.0,7665959.0,1236136.0,...,0.104419,0.004521,0.664090,0.239577,0.010015,0.676143,0.376037,0.018342,10004.0,314.981754
27,1000041020,1,4,R5,4,422.0,355.0,50.0,7665959.0,1236136.0,...,0.104419,0.004521,0.664090,0.239577,0.010015,0.676143,0.376037,0.018342,10004.0,314.981754
28,1000041021,1,4,R5,4,422.0,355.0,50.0,7665959.0,1236136.0,...,0.104419,0.004521,0.664090,0.239577,0.010015,0.676143,0.376037,0.018342,10004.0,314.981754
29,1000041022,1,4,R5,4,422.0,355.0,50.0,7648310.0,1233292.0,...,0.104178,0.004511,0.662562,0.239025,0.009992,0.674586,0.375171,0.018300,10004.0,314.981754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070964,5080500001,5,8050,B2,1,56.0,117.0,2.0,553000.0,14032.0,...,0.904162,0.978790,0.172364,0.326443,0.341160,0.112182,0.327534,0.399402,10307.0,332.988057
1070965,5080500004,5,8050,A1,1,65.0,112.0,2.0,576000.0,13793.0,...,3.241729,3.509295,0.152486,1.104537,1.154331,0.095087,1.061809,1.294791,10307.0,332.988057
1070966,5080500007,5,8050,A1,1,59.0,213.0,3.0,534000.0,15160.0,...,1.039499,0.750198,0.097089,0.419903,0.292555,0.057492,0.383322,0.311621,10307.0,332.988057
1070967,5080500010,5,8050,A2,1,53.0,214.0,2.0,518000.0,9338.0,...,3.061070,3.313725,0.066262,0.785171,0.820569,0.038649,0.706016,0.860930,10307.0,332.988057
1070968,5080500013,5,8050,A2,1,67.0,214.0,2.0,637000.0,16452.0,...,1.171112,1.267773,0.092349,0.430373,0.449775,0.055032,0.395366,0.482117,10307.0,332.988057
1070969,5080500017,5,8050,A2,1,47.0,213.0,2.0,490000.0,15889.0,...,0.883192,0.956088,0.127738,0.407495,0.425866,0.076629,0.376853,0.459542,10307.0,332.988057
1070970,5080500019,5,8050,A1,1,60.0,190.0,2.0,472000.0,15187.0,...,1.267835,1.372480,0.107218,0.580444,0.606611,0.059177,0.493875,0.602241,10307.0,332.988057
1070971,5080500022,5,8050,A1,1,60.0,167.0,2.0,1067000.0,26599.0,...,2.052899,2.222341,0.213648,0.728175,0.761002,0.150944,0.793098,0.967119,10307.0,332.988057
1070972,5080500025,5,8050,A1,1,60.0,147.0,2.0,436000.0,13396.0,...,0.990961,1.072753,0.122239,0.433224,0.452755,0.070198,0.383535,0.467690,10307.0,332.988057
1070973,5080500028,5,8050,A1,1,60.0,129.0,2.0,366000.0,14105.0,...,1.294008,1.400812,0.146667,0.709571,0.741560,0.074466,0.555385,0.677248,10307.0,332.988057
1070974,5080500031,5,8050,A1,1,60.0,107.0,2.0,414000.0,16200.0,...,0.951414,1.029941,0.203087,0.529726,0.553607,0.113610,0.456837,0.557076,10307.0,332.988057
1070975,5080500034,5,8050,A1,1,60.0,164.0,2.0,427000.0,15681.0,...,1.308385,1.416377,0.128257,0.683673,0.714495,0.066825,0.549136,0.669627,10307.0,332.988057
1070976,5080500037,5,8050,A3,1,141.0,87.0,2.0,700000.0,26040.0,...,1.645231,1.781025,0.170846,0.870837,0.910096,0.100534,0.789985,0.963323,10307.0,332.988057
1070977,5080500050,5,8050,A1,1,60.0,98.0,2.0,605000.0,14317.0,...,1.480847,1.603073,0.195964,0.498625,0.521104,0.129891,0.509510,0.621306,10307.0,332.988057
1070978,5080500053,5,8050,A1,1,58.0,116.0,2.0,531000.0,16577.0,...,0.896541,0.970539,0.198299,0.398243,0.416197,0.120053,0.371685,0.453240,10307.0,332.988057
1070979,5080500055,5,8050,V0,1B,2.0,119.0,2.0,3720.0,108.0,...,0.003240,0.003507,0.036521,0.001338,0.001399,0.013324,0.000753,0.000918,10307.0,332.988057
1070980,5080500056,5,8050,B3,1,40.0,130.0,2.0,414000.0,11911.0,...,1.386676,1.501129,0.184351,0.567662,0.593254,0.109626,0.520391,0.634576,10307.0,332.988057
1070981,5080500058,5,8050,A1,1,40.0,145.0,2.0,436000.0,12888.0,...,1.460364,1.580899,0.178838,0.614225,0.641915,0.116115,0.614798,0.749697,10307.0,332.988057
1070982,5080500060,5,8050,A1,1,40.0,160.0,2.0,673000.0,12692.0,...,2.254186,2.440241,0.159607,0.604884,0.632153,0.108258,0.632490,0.771270,10307.0,332.988057
1070983,5080500062,5,8050,A1,1,60.0,180.0,2.0,488000.0,13815.0,...,0.978740,1.059523,0.102951,0.394244,0.412018,0.061507,0.363110,0.442784,10307.0,332.988057
1070984,5080500065,5,8050,A1,1,60.0,127.0,2.0,463000.0,14557.0,...,0.712646,0.771467,0.153751,0.318810,0.333183,0.090809,0.290282,0.353975,10307.0,332.988057
1070985,5080500068,5,8050,A1,1,75.0,127.0,2.0,498000.0,15916.0,...,1.131878,1.225301,0.134484,0.514720,0.537925,0.080114,0.472698,0.576417,10307.0,332.988057
1070986,5080500072,5,8050,A1,1,75.0,116.0,2.0,669000.0,22800.0,...,0.922458,0.998595,0.210920,0.447324,0.467490,0.135475,0.442933,0.540121,10307.0,332.988057
1070987,5080500076,5,8050,A1,1,33.0,116.0,2.0,397000.0,12104.0,...,1.052707,1.139595,0.254483,0.456681,0.477269,0.156856,0.433940,0.529155,10307.0,332.988057
1070988,5080500078,5,8050,A3,1,103.0,85.0,2.0,569000.0,6379.0,...,0.431083,0.466664,0.058641,0.068765,0.071865,0.101441,0.183382,0.223620,10307.0,332.988057
1070989,5080500083,5,8050,A1,1,60.0,120.0,2.0,438000.0,14536.0,...,0.929140,1.005829,0.162485,0.438752,0.458532,0.095112,0.395925,0.482799,10307.0,332.988057
1070990,5080500086,5,8050,A1,1,62.0,228.0,2.0,544000.0,9303.0,...,1.081875,1.171171,0.052966,0.263250,0.275118,0.031010,0.237602,0.289736,10307.0,332.988057
1070991,5080500089,5,8050,A1,1,53.0,273.0,2.0,480000.0,14790.0,...,1.034145,1.119502,0.082268,0.453394,0.473834,0.046625,0.396129,0.483047,10307.0,332.988057
1070992,5080500092,5,8050,A1,1,52.0,136.0,2.0,543000.0,12388.0,...,1.337002,1.447356,0.140981,0.434011,0.453577,0.095650,0.453940,0.553544,10307.0,332.988057
1070993,5080500094,5,8050,A1,1,50.0,80.0,2.0,473000.0,14061.0,...,1.087002,1.176721,0.282916,0.459782,0.480510,0.164389,0.411852,0.502220,10307.0,332.988057

In [33]:
### Var1
data["r1_byzip5"] = data["FULLVAL_r1"] / data["r1_mean_groupby_zip5"]

# Var 2 (r1_byzip3)

In [34]:
### covert ZIP to string in order to split to zip3
data['ZIP'] = data['ZIP'].astype(str)
type(data['ZIP'][0])

str

In [35]:
## split zip5 to zip3
data["ZIP3"] =  data["ZIP"].str.slice(start=0, stop=3)
data["ZIP3"].head()

0    100
1    100
2    100
3    100
4    100
Name: ZIP3, dtype: object

In [36]:
# r1 group by zip3
data_group_zip3 = data.groupby("ZIP3")["FULLVAL_r1"].mean()
data_group_zip3 = pd.DataFrame({'ZIP3_1':data_group_zip3.index, 'r1_mean_groupby_zip3':data_group_zip3})
data_group_zip3.head()

     ZIP3_1  r1_mean_groupby_zip3
ZIP3
100     100            380.454314
101     101            360.092973
102     102             40.411633
103     103            157.661571
104     104            141.051173

In [37]:
## create r1_mean_groupby_zip3 column
data1 = data.merge(data_group_zip3, on =['ZIP3'], how = 'left')
data = data1
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r6_all,r7_all,r8_all,r9_all,ZIP5,r1_mean_groupby_zip5,r1_byzip5,ZIP3,ZIP3_1,r1_mean_groupby_zip3
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.048907,0.540661,1.049730,0.073146,10004.0,314.981754,0.129905,100,100,380.454314
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.165627,267.161795,9.506437,0.662419,10004.0,314.981754,64.191313,100,100,380.454314
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.600162,3.459202,1.559975,1.268177,10004.0,314.981754,0.831147,100,100,380.454314
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,8.014211,1.185425,4.987352,6.081676,10004.0,314.981754,0.284824,100,100,380.454314
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,1174.218807,8.840713,319.843317,780.046571,10004.0,314.981754,2.124170,100,100,380.454314

In [38]:
### Var2
data["r1_byzip3"] = data["FULLVAL_r1"] / data["r1_mean_groupby_zip3"]

# Var 3 (r1_by taxclass)

In [39]:
# r1 group by taxclass
data_group_taxclass = data.groupby("TAXCLASS")["FULLVAL_r1"].mean()
data_group_taxclass = pd.DataFrame({'TAXCLASS_1':data_group_taxclass.index, 'r1_mean_groupby_taxclass':data_group_taxclass})
data_group_taxclass

         TAXCLASS_1  r1_mean_groupby_taxclass
TAXCLASS
1                 1                230.166460
1A               1A               6727.819698
1B               1B                182.299750
1C               1C                305.429066
1D               1D                103.687211
2                 2                 85.772960
2A               2A                410.973799
2B               2B                549.709131
2C               2C                302.032990
3                 3               1104.782255
4                 4                268.124564

In [40]:
#merge
data1 = data.merge(data_group_taxclass, on =['TAXCLASS'], how = 'left')

data= data1
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r9_all,ZIP5,r1_mean_groupby_zip5,r1_byzip5,ZIP3,ZIP3_1,r1_mean_groupby_zip3,r1_byzip3,TAXCLASS_1,r1_mean_groupby_taxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.073146,10004.0,314.981754,0.129905,100,100,380.454314,0.107550,4,268.124564
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.662419,10004.0,314.981754,64.191313,100,100,380.454314,53.144600,4,268.124564
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.268177,10004.0,314.981754,0.831147,100,100,380.454314,0.688115,4,268.124564
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,6.081676,10004.0,314.981754,0.284824,100,100,380.454314,0.235808,4,268.124564
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,780.046571,10004.0,314.981754,2.124170,100,100,380.454314,1.758620,4,268.124564

In [41]:
### Var3
data["r1_bytaxclass"] = data["FULLVAL_r1"] / data["r1_mean_groupby_taxclass"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,ZIP5,r1_mean_groupby_zip5,r1_byzip5,ZIP3,ZIP3_1,r1_mean_groupby_zip3,r1_byzip3,TAXCLASS_1,r1_mean_groupby_taxclass,r1_bytaxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,10004.0,314.981754,0.129905,100,100,380.454314,0.107550,4,268.124564,0.152607
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,10004.0,314.981754,64.191313,100,100,380.454314,53.144600,4,268.124564,75.409325
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,10004.0,314.981754,0.831147,100,100,380.454314,0.688115,4,268.124564,0.976398
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,10004.0,314.981754,0.284824,100,100,380.454314,0.235808,4,268.124564,0.334599
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,10004.0,314.981754,2.124170,100,100,380.454314,1.758620,4,268.124564,2.495387

# Var4 (r1 group by borough)

In [42]:
# r1 group by B
data_group_b = data.groupby("B")["FULLVAL_r1"].mean()
data_group_b = pd.DataFrame({'B_1':data_group_b.index, 'r1_mean_groupby_b':data_group_b})
data_group_b.head()

   B_1  r1_mean_groupby_b
B
1    1         370.386921
2    2         140.877358
3    3         246.933778
4    4         583.627050
5    5         157.661571

In [43]:
#merge
data = data.merge(data_group_b, on =['B'], how = 'left')
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r1_byzip5,ZIP3,ZIP3_1,r1_mean_groupby_zip3,r1_byzip3,TAXCLASS_1,r1_mean_groupby_taxclass,r1_bytaxclass,B_1,r1_mean_groupby_b
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.129905,100,100,380.454314,0.107550,4,268.124564,0.152607,1,370.386921
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,64.191313,100,100,380.454314,53.144600,4,268.124564,75.409325,1,370.386921
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.831147,100,100,380.454314,0.688115,4,268.124564,0.976398,1,370.386921
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.284824,100,100,380.454314,0.235808,4,268.124564,0.334599,1,370.386921
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,2.124170,100,100,380.454314,1.758620,4,268.124564,2.495387,1,370.386921

In [44]:
### Var4
data["r1_b"] = data["FULLVAL_r1"] / data["r1_mean_groupby_b"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,ZIP3,ZIP3_1,r1_mean_groupby_zip3,r1_byzip3,TAXCLASS_1,r1_mean_groupby_taxclass,r1_bytaxclass,B_1,r1_mean_groupby_b,r1_b
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,100,100,380.454314,0.107550,4,268.124564,0.152607,1,370.386921,0.110473
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,100,100,380.454314,53.144600,4,268.124564,75.409325,1,370.386921,54.589110
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,100,100,380.454314,0.688115,4,268.124564,0.976398,1,370.386921,0.706818
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,100,100,380.454314,0.235808,4,268.124564,0.334599,1,370.386921,0.242218
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,100,100,380.454314,1.758620,4,268.124564,2.495387,1,370.386921,1.806421

# r2 data["FULLVAL_r2"]

# var5

In [45]:
# r2 group by zip5
data_group_zip5_2 = data.groupby("ZIP")["FULLVAL_r2"].mean()
data_group_zip5_2 = pd.DataFrame({'ZIP5':data_group_zip5_2.index, 'r2_mean_groupby_zip5_2':data_group_zip5_2})
data_group_zip5_2.head()

            ZIP5  r2_mean_groupby_zip5_2
ZIP
10001.0  10001.0             1179.476144
10002.0  10002.0              600.884831
10003.0  10003.0              845.949455
10004.0  10004.0              410.557233
10005.0  10005.0              117.230522

In [46]:
## create r2_mean_groupby_zip5 column
data = data.merge(data_group_zip5_2, on =['ZIP'], how = 'left')
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r1_mean_groupby_zip3,r1_byzip3,TAXCLASS_1,r1_mean_groupby_taxclass,r1_bytaxclass,B_1,r1_mean_groupby_b,r1_b,ZIP5_y,r2_mean_groupby_zip5_2
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,380.454314,0.107550,4,268.124564,0.152607,1,370.386921,0.110473,10004.0,410.557233
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,380.454314,53.144600,4,268.124564,75.409325,1,370.386921,54.589110,10004.0,410.557233
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,380.454314,0.688115,4,268.124564,0.976398,1,370.386921,0.706818,10004.0,410.557233
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,380.454314,0.235808,4,268.124564,0.334599,1,370.386921,0.242218,10004.0,410.557233
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,380.454314,1.758620,4,268.124564,2.495387,1,370.386921,1.806421,10004.0,410.557233

In [47]:
### Var5
data["r2_byzip5"] = data["FULLVAL_r2"] / data["r2_mean_groupby_zip5_2"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r1_byzip3,TAXCLASS_1,r1_mean_groupby_taxclass,r1_bytaxclass,B_1,r1_mean_groupby_b,r1_b,ZIP5_y,r2_mean_groupby_zip5_2,r2_byzip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.107550,4,268.124564,0.152607,1,370.386921,0.110473,10004.0,410.557233,0.429091
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,53.144600,4,268.124564,75.409325,1,370.386921,54.589110,10004.0,410.557233,3.885882
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.688115,4,268.124564,0.976398,1,370.386921,0.706818,10004.0,410.557233,0.637661
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.235808,4,268.124564,0.334599,1,370.386921,0.242218,10004.0,410.557233,2.038646
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,1.758620,4,268.124564,2.495387,1,370.386921,1.806421,10004.0,410.557233,130.740178

# var 6 (r2 group by zip3)

In [48]:
# r6 group by zip3
data_group_zip3_2 = data.groupby("ZIP3")["FULLVAL_r2"].mean()
data_group_zip3_2 = pd.DataFrame({'ZIP3_1':data_group_zip3_2.index, 'r2_mean_groupby_zip3_2':data_group_zip3_2})

data = data.merge(data_group_zip3_2, on =['ZIP3'], how = 'left')

### Var6
data["r2_byzip3"] = data["FULLVAL_r2"] / data["r2_mean_groupby_zip3_2"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r1_bytaxclass,B_1,r1_mean_groupby_b,r1_b,ZIP5_y,r2_mean_groupby_zip5_2,r2_byzip5,ZIP3_1_y,r2_mean_groupby_zip3_2,r2_byzip3
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.152607,1,370.386921,0.110473,10004.0,410.557233,0.429091,100,579.581312,0.303955
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,75.409325,1,370.386921,54.589110,10004.0,410.557233,3.885882,100,579.581312,2.752637
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.976398,1,370.386921,0.706818,10004.0,410.557233,0.637661,100,579.581312,0.451699
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.334599,1,370.386921,0.242218,10004.0,410.557233,2.038646,100,579.581312,1.444113
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,2.495387,1,370.386921,1.806421,10004.0,410.557233,130.740178,100,579.581312,92.612244

# var 7 (r2 group by taxclass)

In [49]:
# r2 group by taxclass
data_group_taxclass_2 = data.groupby("TAXCLASS")["FULLVAL_r2"].mean()
data_group_taxclass_2 = pd.DataFrame({'TAXCLASS_1':data_group_taxclass_2.index, 'r2_mean_groupby_taxclass_2':data_group_taxclass_2})

#merge
data = data.merge(data_group_taxclass_2, on =['TAXCLASS'], how = 'left')

### Var3
data["r2_bytaxclass"] = data["FULLVAL_r2"] / data["r2_mean_groupby_taxclass_2"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r1_b,ZIP5_y,r2_mean_groupby_zip5_2,r2_byzip5,ZIP3_1_y,r2_mean_groupby_zip3_2,r2_byzip3,TAXCLASS_1_y,r2_mean_groupby_taxclass_2,r2_bytaxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.110473,10004.0,410.557233,0.429091,100,579.581312,0.303955,4,813.804975,0.216473
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,54.589110,10004.0,410.557233,3.885882,100,579.581312,2.752637,4,813.804975,1.960392
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.706818,10004.0,410.557233,0.637661,100,579.581312,0.451699,4,813.804975,0.321694
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.242218,10004.0,410.557233,2.038646,100,579.581312,1.444113,4,813.804975,1.028478
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,1.806421,10004.0,410.557233,130.740178,100,579.581312,92.612244,4,813.804975,65.957235

# var 8 (r2 group by B)

In [50]:
# r2 group by B
data_group_b_2 = data.groupby("B")["FULLVAL_r2"].mean()
data_group_b_2 = pd.DataFrame({'B_1':data_group_b_2.index, 'r2_mean_groupby_b_2':data_group_b_2})

#merge
data = data.merge(data_group_b_2, on =['B'], how = 'left')

### Var8
data["r2_b"] = data["FULLVAL_r2"] / data["r2_mean_groupby_b_2"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r2_byzip5,ZIP3_1_y,r2_mean_groupby_zip3_2,r2_byzip3,TAXCLASS_1_y,r2_mean_groupby_taxclass_2,r2_bytaxclass,B_1_y,r2_mean_groupby_b_2,r2_b
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.429091,100,579.581312,0.303955,4,813.804975,0.216473,1,563.083825,0.312860
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,3.885882,100,579.581312,2.752637,4,813.804975,1.960392,1,563.083825,2.833285
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.637661,100,579.581312,0.451699,4,813.804975,0.321694,1,563.083825,0.464933
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,2.038646,100,579.581312,1.444113,4,813.804975,1.028478,1,563.083825,1.486423
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,130.740178,100,579.581312,92.612244,4,813.804975,65.957235,1,563.083825,95.325639

# var 9 (r3 group by zip5)

In [51]:
# r3 group by zip5
data_group_zip5_3 = data.groupby("ZIP")["FULLVAL_r3"].mean()
data_group_zip5_3 = pd.DataFrame({'ZIP5':data_group_zip5_3.index, 'r3_mean_groupby_zip5_3':data_group_zip5_3})

## create r3_mean_groupby_zip5 column
data = data.merge(data_group_zip5_3, on =['ZIP'], how = 'left')

### Var9
data["r3_byzip5"] = data["FULLVAL_r3"] / data["r3_mean_groupby_zip5_3"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r2_byzip3,TAXCLASS_1_y,r2_mean_groupby_taxclass_2,r2_bytaxclass,B_1_y,r2_mean_groupby_b_2,r2_b,ZIP5,r3_mean_groupby_zip5_3,r3_byzip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.303955,4,813.804975,0.216473,1,563.083825,0.312860,10004.0,135.032202,0.037275
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,2.752637,4,813.804975,1.960392,1,563.083825,2.833285,10004.0,135.032202,0.337565
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.451699,4,813.804975,0.321694,1,563.083825,0.464933,10004.0,135.032202,0.646256
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,1.444113,4,813.804975,1.028478,1,563.083825,1.486423,10004.0,135.032202,3.099190
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,92.612244,4,813.804975,65.957235,1,563.083825,95.325639,10004.0,135.032202,397.507594

# var 10 (r3 group by zip3)

In [52]:
data_group_zip3_3 = data.groupby("ZIP3")["FULLVAL_r3"].mean()
data_group_zip3_3 = pd.DataFrame({'ZIP3_3':data_group_zip3_3.index, 'r3_mean_groupby_zip3_3':data_group_zip3_3})

data = data.merge(data_group_zip3_3, on =['ZIP3'], how = 'left')

### Var6
data["r3_byzip3"] = data["FULLVAL_r3"] / data["r3_mean_groupby_zip3_3"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r2_bytaxclass,B_1_y,r2_mean_groupby_b_2,r2_b,ZIP5,r3_mean_groupby_zip5_3,r3_byzip5,ZIP3_3,r3_mean_groupby_zip3_3,r3_byzip3
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.216473,1,563.083825,0.312860,10004.0,135.032202,0.037275,100,148.830894,0.033819
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,1.960392,1,563.083825,2.833285,10004.0,135.032202,0.337565,100,148.830894,0.306268
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.321694,1,563.083825,0.464933,10004.0,135.032202,0.646256,100,148.830894,0.586339
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,1.028478,1,563.083825,1.486423,10004.0,135.032202,3.099190,100,148.830894,2.811852
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,65.957235,1,563.083825,95.325639,10004.0,135.032202,397.507594,100,148.830894,360.653117

# var 11 (r3 group by taxclass)

In [53]:
# r3 group by taxclass
data_group_taxclass_3 = data.groupby("TAXCLASS")["FULLVAL_r3"].mean()
data_group_taxclass_3 = pd.DataFrame({'TAXCLASS_3':data_group_taxclass_3.index, 'r3_mean_groupby_taxclass_3':data_group_taxclass_3})

#merge
data = data.merge(data_group_taxclass_3, on =['TAXCLASS'], how = 'left')

### Var3
data["r3_bytaxclass"] = data["FULLVAL_r3"] / data["r3_mean_groupby_taxclass_3"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r2_b,ZIP5,r3_mean_groupby_zip5_3,r3_byzip5,ZIP3_3,r3_mean_groupby_zip3_3,r3_byzip3,TAXCLASS_3,r3_mean_groupby_taxclass_3,r3_bytaxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.312860,10004.0,135.032202,0.037275,100,148.830894,0.033819,4,359.618927,0.013996
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,2.833285,10004.0,135.032202,0.337565,100,148.830894,0.306268,4,359.618927,0.126751
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.464933,10004.0,135.032202,0.646256,100,148.830894,0.586339,4,359.618927,0.242661
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,1.486423,10004.0,135.032202,3.099190,100,148.830894,2.811852,4,359.618927,1.163705
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,95.325639,10004.0,135.032202,397.507594,100,148.830894,360.653117,4,359.618927,149.258900

# var 12 (r3 group by b)

In [54]:
# r3 group by B
data_group_b_3 = data.groupby("B")["FULLVAL_r3"].mean()
data_group_b_3 = pd.DataFrame({'B_3':data_group_b_3.index, 'r3_mean_groupby_b_3':data_group_b_3})

#merge
data = data.merge(data_group_b_3, on =['B'], how = 'left')

### Var12
data["r3_b"] = data["FULLVAL_r3"] / data["r3_mean_groupby_b_3"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r3_byzip5,ZIP3_3,r3_mean_groupby_zip3_3,r3_byzip3,TAXCLASS_3,r3_mean_groupby_taxclass_3,r3_bytaxclass,B_3,r3_mean_groupby_b_3,r3_b
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.037275,100,148.830894,0.033819,4,359.618927,0.013996,1,144.062833,0.034938
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.337565,100,148.830894,0.306268,4,359.618927,0.126751,1,144.062833,0.316405
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.646256,100,148.830894,0.586339,4,359.618927,0.242661,1,144.062833,0.605745
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,3.099190,100,148.830894,2.811852,4,359.618927,1.163705,1,144.062833,2.904916
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,397.507594,100,148.830894,360.653117,4,359.618927,149.258900,1,144.062833,372.589685

# var 13 (r4 group by zip5)

In [ ]:
# r group by zip5
data_group_zip5_4 = data.groupby("ZIP")["AVLAND_r4"].mean()
data_group_zip5_4 = pd.DataFrame({'ZIP5_4':data_group_zip5_4.index, 'r4_mean_groupby_zip5_4':data_group_zip5_4})

## create r4_mean_groupby_zip5 column
data = data.merge(data_group_zip5_4, on =['ZIP'], how = 'left')

### Var5
data["r4_byzip5"] = data["AVLAND_r4"] / data["r4_mean_groupby_zip5_4"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r3_byzip3,TAXCLASS_3,r3_mean_groupby_taxclass_3,r3_bytaxclass,B_3,r3_mean_groupby_b_3,r3_b,ZIP5_4,r4_mean_groupby_zip5_4,r4_byzip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.033819,4,359.618927,0.013996,1,144.062833,0.034938,10004.0,44.914391,0.179883
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.306268,4,359.618927,0.126751,1,144.062833,0.316405,10004.0,44.914391,33.240076
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.586339,4,359.618927,0.242661,1,144.062833,0.605745,10004.0,44.914391,2.171954
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,2.811852,4,359.618927,1.163705,1,144.062833,2.904916,10004.0,44.914391,0.777324
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,360.653117,4,359.618927,149.258900,1,144.062833,372.589685,10004.0,44.914391,6.622260

# var 14 (r4 group by zip3)

In [ ]:
data_group_zip3_4 = data.groupby("ZIP3")["AVLAND_r4"].mean()
data_group_zip3_4 = pd.DataFrame({'ZIP3_4':data_group_zip3_4.index, 'r4_mean_groupby_zip3_4':data_group_zip3_4})

data = data.merge(data_group_zip3_4, on =['ZIP3'], how = 'left')

### Var14
data["r4_byzip3"] = data["AVLAND_r4"] / data["r4_mean_groupby_zip3_4"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r3_bytaxclass,B_3,r3_mean_groupby_b_3,r3_b,ZIP5_4,r4_mean_groupby_zip5_4,r4_byzip5,ZIP3_4,r4_mean_groupby_zip3_4,r4_byzip3
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.013996,1,144.062833,0.034938,10004.0,44.914391,0.179883,100,37.206895,0.217147
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.126751,1,144.062833,0.316405,10004.0,44.914391,33.240076,100,37.206895,40.125836
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.242661,1,144.062833,0.605745,10004.0,44.914391,2.171954,100,37.206895,2.621879
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,1.163705,1,144.062833,2.904916,10004.0,44.914391,0.777324,100,37.206895,0.938348
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,149.258900,1,144.062833,372.589685,10004.0,44.914391,6.622260,100,37.206895,7.994076

# var 15 (r4 group by taxclass)

In [ ]:
# r15 group by taxclass
data_group_taxclass_4 = data.groupby("TAXCLASS")["AVLAND_r4"].mean()
data_group_taxclass_4 = pd.DataFrame({'TAXCLASS_4':data_group_taxclass_4.index, 'r4_mean_groupby_taxclass_4':data_group_taxclass_4})

#merge
data = data.merge(data_group_taxclass_4, on =['TAXCLASS'], how = 'left')

### Var3
data["r4_bytaxclass"] = data["AVLAND_r4"] / data["r4_mean_groupby_taxclass_4"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r3_b,ZIP5_4,r4_mean_groupby_zip5_4,r4_byzip5,ZIP3_4,r4_mean_groupby_zip3_4,r4_byzip3,TAXCLASS_4,r4_mean_groupby_taxclass_4,r4_bytaxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.034938,10004.0,44.914391,0.179883,100,37.206895,0.217147,4,51.301092,0.157489
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.316405,10004.0,44.914391,33.240076,100,37.206895,40.125836,4,51.301092,29.101870
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.605745,10004.0,44.914391,2.171954,100,37.206895,2.621879,4,51.301092,1.901558
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,2.904916,10004.0,44.914391,0.777324,100,37.206895,0.938348,4,51.301092,0.680551
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,372.589685,10004.0,44.914391,6.622260,100,37.206895,7.994076,4,51.301092,5.797825

# var 16 (r4 group by b)

In [ ]:
# r4 group by B
data_group_b_4 = data.groupby("B")["AVLAND_r4"].mean()
data_group_b_4 = pd.DataFrame({'B_4':data_group_b_4.index, 'r4_mean_groupby_b_4':data_group_b_4})

#merge
data = data.merge(data_group_b_4, on =['B'], how = 'left')

### Var16
data["r4_b"] = data["AVLAND_r4"] / data["r4_mean_groupby_b_4"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r4_byzip5,ZIP3_4,r4_mean_groupby_zip3_4,r4_byzip3,TAXCLASS_4,r4_mean_groupby_taxclass_4,r4_bytaxclass,B_4,r4_mean_groupby_b_4,r4_b
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.179883,100,37.206895,0.217147,4,51.301092,0.157489,1,35.811386,0.225608
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,33.240076,100,37.206895,40.125836,4,51.301092,29.101870,1,35.811386,41.689471
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,2.171954,100,37.206895,2.621879,4,51.301092,1.901558,1,35.811386,2.724050
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.777324,100,37.206895,0.938348,4,51.301092,0.680551,1,35.811386,0.974914
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,6.622260,100,37.206895,7.994076,4,51.301092,5.797825,1,35.811386,8.305592

# var 17 (r5 group by zip5)

In [ ]:
# r group by zip5
data_group_zip5_5 = data.groupby("ZIP")["AVLAND_r5"].mean()
data_group_zip5_5 = pd.DataFrame({'ZIP5_5':data_group_zip5_5.index, 'r5_mean_groupby_zip5_5':data_group_zip5_5})

## create r4_mean_groupby_zip5 column
data = data.merge(data_group_zip5_5, on =['ZIP'], how = 'left')

### Var17
data["r5_byzip5"] = data["AVLAND_r5"] / data["r5_mean_groupby_zip5_5"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r4_byzip3,TAXCLASS_4,r4_mean_groupby_taxclass_4,r4_bytaxclass,B_4,r4_mean_groupby_b_4,r4_b,ZIP5_5,r5_mean_groupby_zip5_5,r5_byzip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.217147,4,51.301092,0.157489,1,35.811386,0.225608,10004.0,92.21097,0.377229
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,40.125836,4,51.301092,29.101870,1,35.811386,41.689471,10004.0,92.21097,1.277517
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,2.621879,4,51.301092,1.901558,1,35.811386,2.724050,10004.0,92.21097,1.057922
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.938348,4,51.301092,0.680551,1,35.811386,0.974914,10004.0,92.21097,3.532312
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,7.994076,4,51.301092,5.797825,1,35.811386,8.305592,10004.0,92.21097,258.772036

# var 18 (r5 group by zip3)

In [ ]:
data_group_zip3_5 = data.groupby("ZIP3")["AVLAND_r5"].mean()
data_group_zip3_5 = pd.DataFrame({'ZIP3_5':data_group_zip3_5.index, 'r5_mean_groupby_zip3_5':data_group_zip3_5})

data = data.merge(data_group_zip3_5, on =['ZIP3'], how = 'left')

### Var14
data["r5_byzip3"] = data["AVLAND_r5"] / data["r5_mean_groupby_zip3_5"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r4_bytaxclass,B_4,r4_mean_groupby_b_4,r4_b,ZIP5_5,r5_mean_groupby_zip5_5,r5_byzip5,ZIP3_5,r5_mean_groupby_zip3_5,r5_byzip3
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.157489,1,35.811386,0.225608,10004.0,92.21097,0.377229,100,72.044036,0.482825
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,29.101870,1,35.811386,41.689471,10004.0,92.21097,1.277517,100,72.044036,1.635126
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.901558,1,35.811386,2.724050,10004.0,92.21097,1.057922,100,72.044036,1.354061
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.680551,1,35.811386,0.974914,10004.0,92.21097,3.532312,100,72.044036,4.521095
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,5.797825,1,35.811386,8.305592,10004.0,92.21097,258.772036,100,72.044036,331.208824

# var 19 (r5 group by taxclass)

In [ ]:
# r5 group by taxclass
data_group_taxclass_5 = data.groupby("TAXCLASS")["AVLAND_r5"].mean()
data_group_taxclass_5 = pd.DataFrame({'TAXCLASS_5':data_group_taxclass_5.index, 'r5_mean_groupby_taxclass_5':data_group_taxclass_5})

#merge
data = data.merge(data_group_taxclass_5, on =['TAXCLASS'], how = 'left')

### Var19
data["r5_bytaxclass"] = data["AVLAND_r5"] / data["r5_mean_groupby_taxclass_5"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r4_b,ZIP5_5,r5_mean_groupby_zip5_5,r5_byzip5,ZIP3_5,r5_mean_groupby_zip3_5,r5_byzip3,TAXCLASS_5,r5_mean_groupby_taxclass_5,r5_bytaxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.225608,10004.0,92.21097,0.377229,100,72.044036,0.482825,4,252.613268,0.137699
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,41.689471,10004.0,92.21097,1.277517,100,72.044036,1.635126,4,252.613268,0.466330
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,2.724050,10004.0,92.21097,1.057922,100,72.044036,1.354061,4,252.613268,0.386171
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.974914,10004.0,92.21097,3.532312,100,72.044036,4.521095,4,252.613268,1.289394
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,8.305592,10004.0,92.21097,258.772036,100,72.044036,331.208824,4,252.613268,94.459094

# var 20 (r5 group by b)

In [ ]:
# r5 group by B
data_group_b_5 = data.groupby("B")["AVLAND_r5"].mean()
data_group_b_5 = pd.DataFrame({'B_5':data_group_b_5.index, 'r5_mean_groupby_b_5':data_group_b_5})

#merge
data = data.merge(data_group_b_5, on =['B'], how = 'left')

### Var20
data["r5_b"] = data["AVLAND_r5"] / data["r5_mean_groupby_b_5"]

# var 21 (r6 group by zip5)

In [ ]:
# r6 group by zip5
data_group_zip5_6 = data.groupby("ZIP")["AVLAND_r6"].mean()
data_group_zip5_6 = pd.DataFrame({'ZIP5_6':data_group_zip5_6.index, 'r6_mean_groupby_zip5_6':data_group_zip5_6})

## create r4_mean_groupby_zip5 column
data = data.merge(data_group_zip5_6, on =['ZIP'], how = 'left')

### Var17
data["r6_byzip5"] = data["AVLAND_r6"] / data["r6_mean_groupby_zip5_6"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r5_byzip3,TAXCLASS_5,r5_mean_groupby_taxclass_5,r5_bytaxclass,B_5,r5_mean_groupby_b_5,r5_b,ZIP5_6,r6_mean_groupby_zip5_6,r6_byzip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.482825,4,252.613268,0.137699,1,68.968859,0.504353,10004.0,51.898701,0.019150
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,1.635126,4,252.613268,0.466330,1,68.968859,1.708032,10004.0,51.898701,0.064852
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.354061,4,252.613268,0.386171,1,68.968859,1.414435,10004.0,51.898701,0.626554
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,4.521095,4,252.613268,1.289394,1,68.968859,4.722681,10004.0,51.898701,3.138016
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,331.208824,4,252.613268,94.459094,1,68.968859,345.976729,10004.0,51.898701,459.772975

# var 22 (r6 group by zip3)

In [ ]:
data_group_zip3_6 = data.groupby("ZIP3")["AVLAND_r6"].mean()
data_group_zip3_6 = pd.DataFrame({'ZIP3_5':data_group_zip3_6.index, 'r6_mean_groupby_zip3_6':data_group_zip3_6})

data = data.merge(data_group_zip3_6, on =['ZIP3'], how = 'left')

### Var22
data["r6_byzip3"] = data["AVLAND_r6"] / data["r6_mean_groupby_zip3_6"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r5_bytaxclass,B_5,r5_mean_groupby_b_5,r5_b,ZIP5_6,r6_mean_groupby_zip5_6,r6_byzip5,ZIP3_5_y,r6_mean_groupby_zip3_6,r6_byzip3
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.137699,1,68.968859,0.504353,10004.0,51.898701,0.019150,100,25.046372,0.039680
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.466330,1,68.968859,1.708032,10004.0,51.898701,0.064852,100,25.046372,0.134381
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.386171,1,68.968859,1.414435,10004.0,51.898701,0.626554,100,25.046372,1.298285
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,1.289394,1,68.968859,4.722681,10004.0,51.898701,3.138016,100,25.046372,6.502298
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,94.459094,1,68.968859,345.976729,10004.0,51.898701,459.772975,100,25.046372,952.697664

# var 23 (r6 group by taxclass)

In [ ]:
# r6 group by taxclass
data_group_taxclass_6 = data.groupby("TAXCLASS")["AVLAND_r6"].mean()
data_group_taxclass_6 = pd.DataFrame({'TAXCLASS_6':data_group_taxclass_6.index, 'r6_mean_groupby_taxclass_6':data_group_taxclass_6})

#merge
data = data.merge(data_group_taxclass_6, on =['TAXCLASS'], how = 'left')

### Var23
data["r6_bytaxclass"] = data["AVLAND_r6"] / data["r6_mean_groupby_taxclass_6"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r5_b,ZIP5_6,r6_mean_groupby_zip5_6,r6_byzip5,ZIP3_5_y,r6_mean_groupby_zip3_6,r6_byzip3,TAXCLASS_6,r6_mean_groupby_taxclass_6,r6_bytaxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.504353,10004.0,51.898701,0.019150,100,25.046372,0.039680,4,124.797333,0.007964
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,1.708032,10004.0,51.898701,0.064852,100,25.046372,0.134381,4,124.797333,0.026970
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.414435,10004.0,51.898701,0.626554,100,25.046372,1.298285,4,124.797333,0.260561
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,4.722681,10004.0,51.898701,3.138016,100,25.046372,6.502298,4,124.797333,1.304988
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,345.976729,10004.0,51.898701,459.772975,100,25.046372,952.697664,4,124.797333,191.202967

# var 24 (r6 group by b)

In [ ]:
# r6 group by B
data_group_b_6 = data.groupby("B")["AVLAND_r6"].mean()
data_group_b_6 = pd.DataFrame({'B_6':data_group_b_6.index, 'r6_mean_groupby_b_6':data_group_b_6})

#merge
data = data.merge(data_group_b_6, on =['B'], how = 'left')

### Var20
data["r6_b"] = data["AVLAND_r6"] / data["r6_mean_groupby_b_6"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r6_byzip5,ZIP3_5_y,r6_mean_groupby_zip3_6,r6_byzip3,TAXCLASS_6,r6_mean_groupby_taxclass_6,r6_bytaxclass,B_6,r6_mean_groupby_b_6,r6_b
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.019150,100,25.046372,0.039680,4,124.797333,0.007964,1,23.71018,0.041916
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.064852,100,25.046372,0.134381,4,124.797333,0.026970,1,23.71018,0.141954
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.626554,100,25.046372,1.298285,4,124.797333,0.260561,1,23.71018,1.371450
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,3.138016,100,25.046372,6.502298,4,124.797333,1.304988,1,23.71018,6.868736
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,459.772975,100,25.046372,952.697664,4,124.797333,191.202967,1,23.71018,1006.387148

# AVTOT 
# var 25 (r7 group by zip5)

In [ ]:
# r6 group by zip5
data_group_zip5_7 = data.groupby("ZIP")["AVTOT_r7"].mean()
data_group_zip5_7 = pd.DataFrame({'ZIP5_7':data_group_zip5_7.index, 'r7_mean_groupby_zip5_7':data_group_zip5_7})

## create r7_mean_groupby_zip5 column
data = data.merge(data_group_zip5_7, on =['ZIP'], how = 'left')

### Var17
data["r7_byzip5"] = data["AVTOT_r7"] / data["r7_mean_groupby_zip5_7"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r6_byzip3,TAXCLASS_6,r6_mean_groupby_taxclass_6,r6_bytaxclass,B_6,r6_mean_groupby_b_6,r6_b,ZIP5_7,r7_mean_groupby_zip5_7,r7_byzip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.039680,4,124.797333,0.007964,1,23.71018,0.041916,10004.0,128.530379,0.143258
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.134381,4,124.797333,0.026970,1,23.71018,0.141954,10004.0,128.530379,70.789424
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.298285,4,124.797333,0.260561,1,23.71018,1.371450,10004.0,128.530379,0.916579
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,6.502298,4,124.797333,1.304988,1,23.71018,6.868736,10004.0,128.530379,0.314100
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,952.697664,4,124.797333,191.202967,1,23.71018,1006.387148,10004.0,128.530379,2.342509

# var 26 (r7 group by zip3)

In [ ]:
data_group_zip3_7 = data.groupby("ZIP3")["AVTOT_r7"].mean()
data_group_zip3_7 = pd.DataFrame({'ZIP3_7':data_group_zip3_7.index, 'r7_mean_groupby_zip3_7':data_group_zip3_7})

data = data.merge(data_group_zip3_7, on =['ZIP3'], how = 'left')

### Var22
data["r7_byzip3"] = data["AVTOT_r7"] / data["r7_mean_groupby_zip3_7"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r6_bytaxclass,B_6,r6_mean_groupby_b_6,r6_b,ZIP5_7,r7_mean_groupby_zip5_7,r7_byzip5,ZIP3_7,r7_mean_groupby_zip3_7,r7_byzip3
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.007964,1,23.71018,0.041916,10004.0,128.530379,0.143258,100,99.955112,0.184213
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.026970,1,23.71018,0.141954,10004.0,128.530379,70.789424,100,99.955112,91.026775
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.260561,1,23.71018,1.371450,10004.0,128.530379,0.916579,100,99.955112,1.178612
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,1.304988,1,23.71018,6.868736,10004.0,128.530379,0.314100,100,99.955112,0.403895
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,191.202967,1,23.71018,1006.387148,10004.0,128.530379,2.342509,100,99.955112,3.012188

# var 27 (r7 group by taxclass)

In [ ]:
# r7 group by taxclass
data_group_taxclass_7 = data.groupby("TAXCLASS")["AVTOT_r7"].mean()
data_group_taxclass_7 = pd.DataFrame({'TAXCLASS_7':data_group_taxclass_7.index, 'r7_mean_groupby_taxclass_7':data_group_taxclass_7})

#merge
data = data.merge(data_group_taxclass_7, on =['TAXCLASS'], how = 'left')

### Var27
data["r7_bytaxclass"] = data["AVTOT_r7"] / data["r7_mean_groupby_taxclass_7"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r6_b,ZIP5_7,r7_mean_groupby_zip5_7,r7_byzip5,ZIP3_7,r7_mean_groupby_zip3_7,r7_byzip3,TAXCLASS_7,r7_mean_groupby_taxclass_7,r7_bytaxclass
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.041916,10004.0,128.530379,0.143258,100,99.955112,0.184213,4,120.706147,0.152544
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,0.141954,10004.0,128.530379,70.789424,100,99.955112,91.026775,4,120.706147,75.378030
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.371450,10004.0,128.530379,0.916579,100,99.955112,1.178612,4,120.706147,0.975992
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,6.868736,10004.0,128.530379,0.314100,100,99.955112,0.403895,4,120.706147,0.334460
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,1006.387148,10004.0,128.530379,2.342509,100,99.955112,3.012188,4,120.706147,2.494352

# var 28 (r7 group by b)

In [ ]:
# r7 group by B
data_group_b_7 = data.groupby("B")["AVTOT_r7"].mean()
data_group_b_7 = pd.DataFrame({'B_7':data_group_b_7.index, 'r7_mean_groupby_b_7':data_group_b_7})

#merge
data = data.merge(data_group_b_7, on =['B'], how = 'left')

### Var20
data["r7_b"] = data["AVTOT_r7"] / data["r7_mean_groupby_b_7"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r7_byzip5,ZIP3_7,r7_mean_groupby_zip3_7,r7_byzip3,TAXCLASS_7,r7_mean_groupby_taxclass_7,r7_bytaxclass,B_7,r7_mean_groupby_b_7,r7_b
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.143258,100,99.955112,0.184213,4,120.706147,0.152544,1,96.767067,0.190282
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,70.789424,100,99.955112,91.026775,4,120.706147,75.378030,1,96.767067,94.025703
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,0.916579,100,99.955112,1.178612,4,120.706147,0.975992,1,96.767067,1.217442
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.314100,100,99.955112,0.403895,4,120.706147,0.334460,1,96.767067,0.417202
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,2.342509,100,99.955112,3.012188,4,120.706147,2.494352,1,96.767067,3.111426

# var 29 (r8 group by zip5)

In [ ]:
# r8 group by zip5
data_group_zip5_8 = data.groupby("ZIP")["AVTOT_r8"].mean()
data_group_zip5_8 = pd.DataFrame({'ZIP5_8':data_group_zip5_8.index, 'r8_mean_groupby_zip5_8':data_group_zip5_8})

## create r8_mean_groupby_zip5 column
data = data.merge(data_group_zip5_8, on =['ZIP'], how = 'left')

### Var17
data["r8_byzip5"] = data["AVTOT_r8"] / data["r8_mean_groupby_zip5_8"]
data.head()

,BBLE,B,BLOCK,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,STORIES,FULLVAL,AVLAND,...,r7_byzip3,TAXCLASS_7,r7_mean_groupby_taxclass_7,r7_bytaxclass,B_7,r7_mean_groupby_b_7,r7_b,ZIP5_8,r8_mean_groupby_zip5_8,r8_byzip5
0,1000010101,1,1,P7,4,500.0,1046.0,35.0,21400000.0,4225500.0,...,0.184213,4,120.706147,0.152544,1,96.767067,0.190282,10004.0,171.489152,0.462274
1,1000010201,1,1,Z9,4,27.0,355.0,35.0,193800000.0,14310000.0,...,91.026775,4,120.706147,75.378030,1,96.767067,94.025703,10004.0,171.489152,4.186385
2,1000020001,1,2,Y7,4,709.0,564.0,3.0,104686000.0,39008700.0,...,1.178612,4,120.706147,0.975992,1,96.767067,1.217442,10004.0,171.489152,0.686972
3,1000020023,1,2,T2,4,793.0,551.0,2.0,39200000.0,15255000.0,...,0.403895,4,120.706147,0.334460,1,96.767067,0.417202,10004.0,171.489152,2.196299
4,1000030001,1,3,Q1,4,323.0,1260.0,1.0,272300000.0,121050000.0,...,3.012188,4,120.706147,2.494352,1,96.767067,3.111426,10004.0,171.489152,140.850580

# var 30 (r8 group by zip3)

In [ ]:
data_group_zip3_8 = data.groupby("ZIP3")["AVTOT_r8"].mean()
data_group_zip3_8 = pd.DataFrame({'ZIP3_8':data_group_zip3_8.index, 'r8_mean_groupby_zip3_8':data_group_zip3_8})

data = data.merge(data_group_zip3_8, on =['ZIP3'], how = 'left')

### Var22
data["r8_byzip3"] = data["AVTOT_r8"] / data["r8_mean_groupby_zip3_8"]
data.head()

# var 31 (r8 group by TAXCLASS)

In [ ]:
# r8 group by taxclass
data_group_taxclass_8 = data.groupby("TAXCLASS")["AVTOT_r8"].mean()
data_group_taxclass_8 = pd.DataFrame({'TAXCLASS_8':data_group_taxclass_8.index, 'r8_mean_groupby_taxclass_8':data_group_taxclass_8})

#merge
data = data.merge(data_group_taxclass_8, on =['TAXCLASS'], how = 'left')

### Var27
data["r8_bytaxclass"] = data["AVTOT_r8"] / data["r8_mean_groupby_taxclass_8"]
data.head()

# var 32 (r8 group by b)

In [ ]:
# r8 group by B
data_group_b_8 = data.groupby("B")["AVTOT_r8"].mean()
data_group_b_8 = pd.DataFrame({'B_8':data_group_b_8.index, 'r8_mean_groupby_b_8':data_group_b_8})

#merge
data = data.merge(data_group_b_8, on =['B'], how = 'left')

### Var20
data["r8_b"] = data["AVTOT_r8"] / data["r8_mean_groupby_b_8"]
data.head()

# var 33 (r9 group by zip5)

In [ ]:
# r9 group by zip5
data_group_zip5_9 = data.groupby("ZIP")["AVTOT_r9"].mean()
data_group_zip5_9 = pd.DataFrame({'ZIP5_9':data_group_zip5_9.index, 'r9_mean_groupby_zip5_9':data_group_zip5_9})

## create r9_mean_groupby_zip5 column
data = data.merge(data_group_zip5_9, on =['ZIP'], how = 'left')

### Var33
data["r9_byzip5"] = data["AVTOT_r9"] / data["r9_mean_groupby_zip5_9"]
data.head()

# var 34 (r9 group by zip3)

In [ ]:
data_group_zip3_9 = data.groupby("ZIP3")["AVTOT_r9"].mean()
data_group_zip3_9 = pd.DataFrame({'ZIP3_9':data_group_zip3_9.index, 'r9_mean_groupby_zip3_9':data_group_zip3_9})

data = data.merge(data_group_zip3_9, on =['ZIP3'], how = 'left')

### Var34
data["r9_byzip3"] = data["AVTOT_r9"] / data["r9_mean_groupby_zip3_9"]
data.head()

# var 35 (r9 group by taxclass)

In [ ]:
# r9 group by taxclass
data_group_taxclass_9 = data.groupby("TAXCLASS")["AVTOT_r9"].mean()
data_group_taxclass_9 = pd.DataFrame({'TAXCLASS_9':data_group_taxclass_9.index, 'r9_mean_groupby_taxclass_9':data_group_taxclass_9})

#merge
data = data.merge(data_group_taxclass_9, on =['TAXCLASS'], how = 'left')

### Var27
data["r9_bytaxclass"] = data["AVTOT_r9"] / data["r9_mean_groupby_taxclass_9"]
data.head()

# var 36 (r9 group by b)

In [ ]:
# r9 group by B
data_group_b_9 = data.groupby("B")["AVTOT_r9"].mean()
data_group_b_9 = pd.DataFrame({'B_9':data_group_b_9.index, 'r9_mean_groupby_b_9':data_group_b_9})

#merge
data = data.merge(data_group_b_9, on =['B'], how = 'left')

### Var20
data["r9_b"] = data["AVTOT_r9"] / data["r9_mean_groupby_b_9"]
data.head()

In [100]:
list(data)

['FULLVAL_r1',
 'FULLVAL_r2',
 'FULLVAL_r3',
 'AVLAND_r4',
 'AVLAND_r5',
 'AVLAND_r6',
 'AVTOT_r7',
 'AVTOT_r8',
 'AVTOT_r9',
 'r1_byzip5',
 'r1_byzip3',
 'r1_bytaxclass',
 'r1_b',
 'r2_byzip5',
 'r2_byzip3',
 'r2_bytaxclass',
 'r2_b',
 'r3_byzip5',
 'r3_byzip3',
 'r3_bytaxclass',
 'r3_b',
 'r4_byzip5',
 'r4_byzip3',
 'r4_bytaxclass',
 'r4_b',
 'r5_byzip5',
 'r5_byzip3',
 'r5_bytaxclass',
 'r5_b',
 'r6_byzip5',
 'r6_byzip3',
 'r6_bytaxclass',
 'r6_b',
 'r7_byzip5',
 'r7_byzip3',
 'r7_bytaxclass',
 'r7_b',
 'r8_byzip5',
 'r8_byzip3',
 'r8_bytaxclass',
 'r8_b',
 'r9_byzip5',
 'r9_byzip3',
 'r9_bytaxclass',
 'r9_b',
 'r1_all',
 'r2_all',
 'r3_all',
 'r4_all',
 'r5_all',
 'r6_all',
 'r7_all',
 'r8_all',
 'r9_all']

In [105]:
data.drop(
    ['FULLVAL_r1',
 'FULLVAL_r2',
 'FULLVAL_r3',
 'AVLAND_r4',
 'AVLAND_r5',
 'AVLAND_r6',
 'AVTOT_r7',
 'AVTOT_r8',
 'AVTOT_r9'],axis=1, inplace=True)

In [74]:
data.drop(['BBLE',
 'B',
 'BLOCK',
 'BLDGCL',
 'TAXCLASS',
 'LTFRONT',
 'LTDEPTH',
 'STORIES',
 'FULLVAL',
 'AVLAND',
 'AVTOT',
 'ZIP',
 'BLDFRONT',
 'BLDDEPTH',
 'group',
 'meanFULLVAL',
 'meanAVLAND',
 'meanAVTOT',
 'medianLTFRONT',
 'medianLTDEPTH',
 'medianBLDFRONT',
 'medianBLDDEPTH',
 'lotarea',
 'bldarea',
 'bldvol',
 'ZIP5_x',
 'r1_mean_groupby_zip5',

 'ZIP3',
 'ZIP3_1_x',
 'r1_mean_groupby_zip3',

 'TAXCLASS_1_x',
 'r1_mean_groupby_taxclass',

 'B_1_x',
 'r1_mean_groupby_b',

 'ZIP5_y',
 'r2_mean_groupby_zip5_2',

 'ZIP3_1_y',
 'r2_mean_groupby_zip3_2',

 'TAXCLASS_1_y',
 'r2_mean_groupby_taxclass_2',

 'B_1_y',
 'r2_mean_groupby_b_2',

 'ZIP5',
 'r3_mean_groupby_zip5_3',

 'ZIP3_3',
 'r3_mean_groupby_zip3_3',

 'TAXCLASS_3',
 'r3_mean_groupby_taxclass_3',

 'B_3',
 'r3_mean_groupby_b_3',

 'ZIP5_4',
 'r4_mean_groupby_zip5_4',

 'ZIP3_4',
 'r4_mean_groupby_zip3_4',

 'TAXCLASS_4',
 'r4_mean_groupby_taxclass_4',

 'B_4',
 'r4_mean_groupby_b_4',

 'ZIP5_5',
 'r5_mean_groupby_zip5_5',

 'ZIP3_5_x',
 'r5_mean_groupby_zip3_5',

 'TAXCLASS_5',
 'r5_mean_groupby_taxclass_5',

 'B_5',
 'r5_mean_groupby_b_5',

 'ZIP5_6',
 'r6_mean_groupby_zip5_6',

 'ZIP3_5_y',
 'r6_mean_groupby_zip3_6',

 'TAXCLASS_6',
 'r6_mean_groupby_taxclass_6',

 'B_6',
 'r6_mean_groupby_b_6',
 
 'ZIP5_7',
 'r7_mean_groupby_zip5_7',

 'ZIP3_7',
 'r7_mean_groupby_zip3_7',

 'TAXCLASS_7',
 'r7_mean_groupby_taxclass_7',

 'B_7',
 'r7_mean_groupby_b_7',

 'ZIP5_8',
 'r8_mean_groupby_zip5_8',

 'ZIP3_8',
 'r8_mean_groupby_zip3_8',

 'TAXCLASS_8',
 'r8_mean_groupby_taxclass_8',

 'B_8',
 'r8_mean_groupby_b_8',

 'ZIP5_9',
 'r9_mean_groupby_zip5_9',

 'ZIP3_9',
 'r9_mean_groupby_zip3_9',

 'TAXCLASS_9',
 'r9_mean_groupby_taxclass_9',

 'B_9',
 'r9_mean_groupby_b_9'],axis=1, inplace=True)
data.head()

,FULLVAL_r1,FULLVAL_r2,FULLVAL_r3,AVLAND_r4,AVLAND_r5,AVLAND_r6,AVTOT_r7,AVTOT_r8,AVTOT_r9,r1_byzip5,...,r7_bytaxclass,r7_b,r8_byzip5,r8_byzip3,r8_bytaxclass,r8_b,r9_byzip5,r9_byzip3,r9_bytaxclass,r9_b
0,40.917782,176.166486,5.033328,8.079350,34.784649,0.993847,18.413002,79.274919,2.264998,0.129905,...,0.152544,0.190282,0.462274,0.510808,0.205188,0.531646,0.039249,0.059239,0.013445,0.062240
1,20219.092332,1595.376865,45.582196,1492.957746,117.801047,3.365744,9098.591549,717.919589,20.511988,64.191313,...,75.378030,94.025703,4.186385,4.625914,1.858200,4.814629,0.355443,0.536470,0.121757,0.563649
2,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424,0.831147,...,0.975992,1.217442,0.686972,0.759098,0.304924,0.790065,0.680483,1.027051,0.233099,1.079084
3,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700,0.284824,...,0.334460,0.417202,2.196299,2.426889,0.974865,2.525894,3.263326,4.925332,1.117851,5.174861
4,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541,2.124170,...,2.494352,3.111426,140.850580,155.638514,62.518972,161.987788,418.560021,631.731769,143.377527,663.736795

In [109]:
data.describe()

,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,r3_byzip3,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
std,8.233529e+00,1.369310e+01,1.119993e+01,1.500539e+01,9.624314e+00,1.331416e+01,2.363524e+01,1.430617e+01,1.104208e+01,1.587838e+01,...,6.122564e+01,2.269205e+01,1.503700e+01,1.595915e+01,2.460323e+01,7.734346e+01,8.881629e+01,3.414578e+01,5.583302e+01,6.291688e+01
min,1.727946e-06,4.409034e-07,6.895847e-07,7.863017e-07,1.673136e-06,1.215534e-06,1.230334e-06,1.251148e-06,4.463858e-07,3.116284e-07,...,8.273063e-07,1.269851e-06,1.165690e-06,1.941391e-07,6.706878e-07,1.842925e-06,2.963090e-07,2.446915e-07,5.103290e-06,9.722792e-07
25%,3.989361e-01,1.917273e-01,3.251270e-01,1.898008e-01,3.426325e-01,3.283538e-01,4.043326e-01,3.311741e-01,3.084903e-01,2.809859e-01,...,2.458248e-01,2.102852e-01,3.234055e-01,2.713694e-01,1.871219e-01,1.384350e-01,1.013312e-01,1.569348e-01,2.327587e-01,2.322636e-01
50%,8.753660e-01,6.742600e-01,6.430129e-01,4.472034e-01,8.565394e-01,8.341663e-01,7.333375e-01,8.285269e-01,8.119543e-01,8.138464e-01,...,4.250112e-01,4.294985e-01,8.240070e-01,8.541382e-01,3.694148e-01,3.537739e-01,3.561215e-01,2.551777e-01,3.588401e-01,4.172143e-01
75%,1.202020e+00,1.096030e+00,1.033069e+00,9.735404e-01,1.163272e+00,1.127465e+00,1.002475e+00,1.122793e+00,1.148081e+00,1.142607e+00,...,5.966147e-01,6.848967e-01,1.136181e+00,1.221260e+00,5.847502e-01,4.818217e-01,5.063625e-01,4.059065e-01,4.807935e-01,5.788791e-01
max,4.615503e+03,9.833651e+03,7.589558e+03,5.302497e+03,3.977971e+03,6.530301e+03,1.982951e+04,6.530914e+03,5.412969e+03,8.321732e+03,...,3.705397e+04,5.742401e+03,6.883118e+03,1.049645e+04,1.498515e+04,4.407221e+04,6.488275e+04,2.688845e+04,2.904892e+04,4.257997e+04

In [108]:
data.shape

(1070994, 45)

In [106]:
data.head()

,r1_byzip5,r1_byzip3,r1_bytaxclass,r1_b,r2_byzip5,r2_byzip3,r2_bytaxclass,r2_b,r3_byzip5,r3_byzip3,...,r9_b,r1_all,r2_all,r3_all,r4_all,r5_all,r6_all,r7_all,r8_all,r9_all
0,0.129905,0.107550,0.152607,0.110473,0.429091,0.303955,0.216473,0.312860,0.037275,0.033819,...,0.062240,0.115466,0.291491,0.018031,0.650247,0.818948,0.048907,0.540661,1.049730,0.073146
1,64.191313,53.144600,75.409325,54.589110,3.885882,2.752637,1.960392,2.833285,0.337565,0.306268,...,0.563649,57.056097,2.639763,0.163294,120.157017,2.773434,0.165627,267.161795,9.506437,0.662419
2,0.831147,0.688115,0.976398,0.706818,0.637661,0.451699,0.321694,0.464933,0.646256,0.586339,...,1.079084,0.738761,0.433176,0.312620,7.851231,2.296703,1.600162,3.459202,1.559975,1.268177
3,0.284824,0.235808,0.334599,0.242218,2.038646,1.444113,1.028478,1.486423,3.099190,2.811852,...,5.174861,0.253164,1.384896,1.499202,2.809888,7.668499,8.014211,1.185425,4.987352,6.081676
4,2.124170,1.758620,2.495387,1.806421,130.740178,92.612244,65.957235,95.325639,397.507594,360.653117,...,663.736795,1.888056,88.814598,192.290339,23.938302,561.783017,1174.218807,8.840713,319.843317,780.046571

In [110]:
data.to_csv('NYP_45_var_new.csv')